body {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #222;
  background: #eaeaea;
}

main {
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #d6d8da;
  margin-top: 1em !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

fieldset {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 0.3rem;
  width: 350px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.field-wrap {
  margin: 0 auto;
}

.field-container {
  display: flex;
  margin: 0 0 0.2rem 0;
  position: relative;
}

.field span {
  position: relative;
}

.field img {
  width: 26px;
  max-width: none;
  height: auto;
  display: block;
  position: absolute;
  top: -28px;
  right: -347px;
  cursor: pointer;
  z-index: 3;
}

.btn-group > .btn {
  display: inline-block;
  background: #0f8243;
  border-bottom: 0.16666667em solid rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.75em 1em;
  font-size: 1rem;
  font-weight: 600;
  vertical-align: top;
  line-height: 1.35;
}

.btn__secondary {
  background: #d0d0d0;
  color: #222;
  font-weight: 400;
}
